<section class="flex flex-col items-center justify-center gap-12 mx-4 my-10">

  <p class="p-5 bg-cyan-700 text-white rounded-xl text-3xl md:text-4xl">Name of the country</p>

  <section class="flex flex-col md:flex-row gap-4 w-3/4 items-center justify-evenly">
    <div class="border-cyan-700 border-4 rounded-xl p-4 text-center">
      <p class="text-2xl text-gray-700 mb-0">Number of entries</p>
      <span class="text-4xl font-bold">{{ statistic.numberOfEntries }}</span>
    </div>

    <div class="border-cyan-700 border-4 rounded-xl p-4 text-center">
      <p class="text-2xl text-gray-700 mb-0">Total number medals</p>
      <span class="text-4xl font-bold">{{ statistic.totalMedals }}</span>
    </div>

    <div class="border-cyan-700 border-4 rounded-xl p-4 text-center">
      <p class="text-2xl text-gray-700 mb-0">Total number of athletes</p>
      <span class="text-4xl font-bold">{{ statistic.totalNumberOfAthletes }}</span>
    </div>
  </section>

  <div class="w-full h-2/5 md:w-2/5 md:h-full">

  </div>

  <div class="flex justify-items-start w-1/3">
    <a class="bg-cyan-700 text-white p-6 rounded text-md md:text-xl" routerLink="/">Go Back</a>
  </div>
</section>
