<section class="flex flex-col items-center justify-center gap-12">
  <h1 class="my-5 p-5 bg-cyan-700 text-white rounded-xl text-4xl">Medals per Country</h1>

  <section class="flex flex-col md:flex-row w-3/4 gap-4 items-center justify-evenly">
    <app-card
      [title]="'Number of JOs'"
      [description]="statistic.numberOfJOs"
    />

    <app-card
      [title]="'Number of countries'"
      [description]="statistic.numberOfCountries"
    />
  </section>

  <div class="w-[100vw] h-[40vh] md:w-[80vw] md:h-[50vh]">
    <ngx-charts-pie-chart
      [results]="pieChartData"
      [labels]="true"
      [doughnut]="false"
      (select)="onChartClick($event)">
      <ng-template #tooltipTemplate let-model="model">
        <div class="py-2 px-4">
          <h2 class="text-md font-bold m-0">{{ model.name }}</h2>
          <span>{{ model.value }} 🏅</span>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>
</section>

